#main_pane {
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  max-height: 90vh;
}

@media screen and (max-width: 576px) {
  #main_pane {
    max-width: 80%;
  }

  .close span {
    display: inline-block;
    height: auto;
    width: 60px;
  }

  a {
    display: inline-block;
    width: 85%;
    height: auto;
  }
}
